<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Digital_Medicine_Tracker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>userlogin</display-name>
    <servlet-name>userlogin</servlet-name>
    <servlet-class>com.medine_tracker.userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>com.medine_tracker.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pharmalogin</display-name>
    <servlet-name>pharmalogin</servlet-name>
    <servlet-class>com.medine_tracker.pharmalogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pharmalogin</servlet-name>
    <url-pattern>/pharmalogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createuser</display-name>
    <servlet-name>createuser</servlet-name>
    <servlet-class>com.medine_tracker.createuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createuser</servlet-name>
    <url-pattern>/createuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createpharma</display-name>
    <servlet-name>createpharma</servlet-name>
    <servlet-class>com.medine_tracker.createpharma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createpharma</servlet-name>
    <url-pattern>/createpharma</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shortestdistance</display-name>
    <servlet-name>shortestdistance</servlet-name>
    <servlet-class>com.medine_tracker.shortestdistance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shortestdistance</servlet-name>
    <url-pattern>/shortestdistance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatemedicineaservlet</display-name>
    <servlet-name>updatemedicineaservlet</servlet-name>
    <servlet-class>com.medine_tracker.updatemedicineaservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatemedicineaservlet</servlet-name>
    <url-pattern>/updatemedicineaservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calculate</display-name>
    <servlet-name>calculate</servlet-name>
    <servlet-class>com.medine_tracker.calculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculate</servlet-name>
    <url-pattern>/calculate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addmed</display-name>
    <servlet-name>addmed</servlet-name>
    <servlet-class>com.medine_tracker.addmed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addmed</servlet-name>
    <url-pattern>/addmed</url-pattern>
  </servlet-mapping>
</web-app>